body {
  margin: 0;
  padding: 0 0 0 0;
  font-family: sans-serif;
}

.navbar {
  margin-bottom: 30px;
}

.clickable {
  cursor: pointer;
}

.btn-circle {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 50px !important;
  font-size: 24px;
  line-height: 1.33;
}

.add-btn {
  position: absolute;
  bottom: 0;
  right: 0;
}
